<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.nymtech.vpn.helper</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>net.nymtech.vpn.helper</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/net.nymtech.vpn.helper</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;net.nymtech.vpn&quot;</string>
	</array>
</dict>
</plist>
