[package]
name = "nym-vpn-api-client"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
base64-url.workspace = true
bs58.workspace = true
chrono.workspace = true
nym-crypto = { workspace = true, features = ["asymmetric"] }
nym-http-api-client.workspace = true
nym-validator-client.workspace = true
reqwest = { workspace = true, features = ["rustls-tls"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sha2.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
bip39 = { version = "2.0.0", features = ["zeroize"] }

