[package]
name = "nym-vpnd"
description = "NymVPN daemon"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
bip39.workspace = true
clap.workspace = true
dirs.workspace = true
futures.workspace = true
http.workspace = true
maplit.workspace = true
parity-tokio-ipc.workspace = true
prost-types.workspace = true
prost.workspace = true
reqwest = { workspace = true, default-features = false, features = [
    "blocking",
    "rustls-tls",
] }
serde.workspace = true
serde_json.workspace = true
strum.workspace = true
strum_macros.workspace = true
sysinfo.workspace = true
thiserror.workspace = true
time.workspace = true
tokio = { workspace = true, features = ["signal", "rt-multi-thread"] }
tokio-stream.workspace = true
tokio-util.workspace = true
toml.workspace = true
tonic-health.workspace = true
tonic-reflection.workspace = true
tonic.workspace = true
tower-http = { workspace = true, features = ["cors"] }
tracing-appender.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter", "ansi"] }
tracing.workspace = true
url.workspace = true
zeroize.workspace = true

# Nym monorepo
nym-bandwidth-controller.workspace = true
nym-bin-common.workspace = true
nym-credentials-interface.workspace = true
nym-task.workspace = true
nym-validator-client.workspace = true

# Local crates
nym-vpn-account-controller = { path = "../nym-vpn-account-controller" }
nym-vpn-api-client = { path = "../nym-vpn-api-client" }
nym-vpn-lib = { path = "../nym-vpn-lib" }
nym-vpn-network-config = { path = "../nym-vpn-network-config" }
nym-vpn-proto = { path = "../nym-vpn-proto", features = ["conversions"] }
nym-vpn-store = { path = "../nym-vpn-store" }
nym-vpnd-types = { path = "../nym-vpnd-types" }

[target.'cfg(windows)'.dependencies]
windows-service = "0.7.0"
eventlog = "0.3.0"
winapi = { version = "0.3", features = ["winnt", "excpt", "winerror"] }

[target.'cfg(windows)'.dependencies.windows-sys]
workspace = true
features = [
    "Win32_Foundation",
    "Win32_Security",
    "Win32_Security_Authorization",
    "Win32_Security_Authentication_Identity",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Kernel",
    "Win32_System_Memory",
    "Win32_System_Threading",
]

[build-dependencies]
vergen = { workspace = true, default-features = false, features = [
    "build",
    "git",
    "gitcl",
    "rustc",
    "cargo",
] }

# Debian
[package.metadata.deb]
name = "nym-vpnd"
extended-description = '''NymVPN is a vpn service that uses the Nym mixnet.

This package contains the nym-vpnd daemon binary, which runs as a background service.

End-users should use either the CLI client, nym-vpnc, or the GUI client, nym-vpn-app.'''
maintainer-scripts = "debian"
recommends = "nym-vpnc"

[package.metadata.deb.systemd-units]
unit-name = "nym-vpnd"
enable = true
start = true
restart-after-upgrade = false
stop-on-upgrade = true
unit-scripts = "linux/unit-scripts"
