[submodule "third-party/windows/windows-libraries"]
	path = third-party/windows/windows-libraries
	url = https://github.com/mullvad/windows-libraries.git
[submodule "third-party/windows/libwfp"]
	path = third-party/windows/libwfp
	url = https://github.com/mullvad/libwfp.git
