// Copyright 2020 - Nym Technologies SA <contact@nymtech.net>
// SPDX-License-Identifier: CC0-1.0

**/*.rs.bk
/*/target
target
.idea
build
/android
bin
.env
.env.dev
/.vscode/settings.json
.vscode
**/.DS_Store
/.cargo
/nym-vpn-core/.cargo
nym-vpn-core/nym-vpn-lib/generated/headers/module.modulemap
nym-vpn-core/nym-vpn-lib/uniffi/nym_vpn_libFFI.modulemap
nym-vpn-core/nym-vpn-lib/uniffi/nym_vpn_libFFI.h
nym-vpn-core/nym-vpn-lib/NymVpnLib/Sources/NymVpnLib/nym_vpn_lib.swift
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64_x86_64-simulator/libnym_vpn_lib.a
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64_x86_64-simulator/Headers/nym_vpn_libFFI.h
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64_x86_64-simulator/Headers/module.modulemap
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64/libnym_vpn_lib.a
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64/Headers/nym_vpn_libFFI.h
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/ios-arm64/Headers/module.modulemap
nym-vpn-core/nym-vpn-lib/NymVpnLib/RustFramework.xcframework/Info.plist
nym-vpn-core/nym-vpn-lib/NymVpnLib/Package.swift
nym-vpn-core/nym-vpn-lib/generated/sources/nym_vpn_lib.swift
nym-vpn-core/nym-vpn-lib/generated/nym_vpn_libFFI.modulemap
nym-vpn-core/nym-vpn-lib/generated/nym_vpn_libFFI.h
nym-vpn-core/nym-vpn-lib/generated/nym_vpn_lib.swift
nym-vpn-core/nym-vpn-lib/generated/headers/nym_vpn_libFFI.h
