// Copyright 2020 - Nym Technologies SA <contact@nymtech.net>
// SPDX-License-Identifier: CC0-1.0

**/*.rs.bk
/*/target
target
.idea
build
/android
bin
.env
.env.dev
/.vscode/settings.json
.vscode
**/.DS_Store
/.cargo
/nym-vpn-core/.cargo
nym-vpn-core/nym-vpn-lib/generated/headers/module.modulemap
nym-vpn-core/nym-vpn-lib/uniffi/nym_vpn_libFFI.modulemap
nym-vpn-core/nym-vpn-lib/uniffi/nym_vpn_libFFI.h
nym-vpn-core/crates/nym-vpn-lib/NymVpnLib
nym-vpn-core/crates/nym-vpn-lib/generated
nym-vpn-apple/MixnetLibrary/Sources/MixnetLibrary/RustFramework.xcframework

# Wireguard-go artifacts
wireguard/libwg/versioninfo_windows.syso
wireguard/libwg/exports.def
wireguard/libwg/libwg.exp
wireguard/libwg/libwg.h

# Visual Studio
*.vcxproj.user
.vs/
