[package]
name = "nym-vpn-cli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
bytes = "1.0"
clap = { version = "4.4.7", features = ["cargo", "derive"] }
default-net = "0.20.0"
futures = "0.3.15"
ipnetwork = "0.16"
log = "0.4.20"
serde = "1.0.192"
serde_json = "1.0.91"
signature = "1"
thiserror = "1.0.38"
tokio = { version = "1.8", features = ["process", "rt-multi-thread", "fs"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tun = { version = "0.5.5", features = ["async"] }
url = "2.4"

talpid-core = { git = "https://github.com/mullvad/mullvadvpn-app", tag = "2023.2" }
talpid-routing = { git = "https://github.com/mullvad/mullvadvpn-app", tag = "2023.2" }
talpid-tunnel = { git = "https://github.com/mullvad/mullvadvpn-app", tag = "2023.2" }
talpid-types = { git = "https://github.com/mullvad/mullvadvpn-app", tag = "2023.2" }
talpid-wireguard = { git = "https://github.com/mullvad/mullvadvpn-app", tag = "2023.2" }

nym-bin-common = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-client-core = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-config = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-crypto = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-ip-packet-requests = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-node-requests = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-sdk = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-task = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-validator-client = { git = "https://github.com/nymtech/nym", branch = "develop" }
nym-wireguard-types = { git = "https://github.com/nymtech/nym", branch = "develop" }

# For local development
#nym-bin-common = { path = "../nym/common/bin-common" }
#nym-client-core = { path = "../nym/common/client-core" }
#nym-config = { path = "../nym/common/config" }
#nym-crypto = { path = "../nym/common/crypto" }
#nym-ip-packet-requests = { path = "../nym/common/ip-packet-requests" }
#nym-node-requests = { path = "../nym/nym-node/nym-node-requests" }
#nym-sdk = { path = "../nym/sdk/rust/nym-sdk" }
#nym-task = { path = "../nym/common/task" }
#nym-validator-client = { path = "../nym/common/client-libs/validator-client" }
#nym-wireguard-types = { path = "../nym/common/wireguard-types" }
