## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved
.swiftpm/
xcshareddata/swiftpm/

.build/

# Xcode test result bundles (e.g. CI -resultBundlePath)
*.xcresult

NymVPNLib
NymVPNRpc

NymVPND/nym-vpnd
NymVPND/nym-setup
NymVPND/nym-socks5-proxy
NymVPND/nym-diagnostic

fastlane/report.xml
fastlane/README.md

.sentryclirc
