// swift-tools-version:5.10
// The swift-tools-version declares the minimum version of Swift required to build this package.

import PackageDescription

let package = Package(
    name: "NymVPNLib",
    platforms: [
        .iOS(.v17),
        .macOS(.v14)
    ],
    products: [
        .library(
            name: "NymVPNLib",
            targets: ["NymVPNLib"]
        )
    ],
    dependencies: [ ],
    targets: [
        .binaryTarget(name: "NymVPNLibUniffi", path: "./NymVPNLibUniffi.xcframework"),
        .target(
            name: "NymVPNLib",
            dependencies: [
                .target(name: "NymVPNLibUniffi")
            ]
        ),
    ]
)
