BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
CompactNamespaces: true
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentWidth: 4
InsertTrailingCommas: Wrapped
NamespaceIndentation: None
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PackConstructorInitializers: Never
PenaltyBreakAssignment: 6
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakString: 100
PenaltyExcessCharacter: 25
PenaltyReturnTypeOnItsOwnLine: 75
PointerAlignment: Left
QualifierAlignment: Right
RemoveBracesLLVM: false
SortIncludes: Never
SortUsingDeclarations: Never
TabWidth: 4
UseTab: Never
