If:
  PathMatch: src/.*
  PathExclude: build/.*

CompileFlags:
    Remove: [ -fno-modules-ts ]
    Compiler: clang++

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*, readability-*]
    Remove: [
        modernize-avoid-c-arrays,
        modernize-use-trailing-return-type,
        modernize-pass-by-value,
        modernize-use-nodiscard,
        performance-enum-size,
        performance-move-const-arg,
        performance-unnecessary-value-param,
        readability-convert-member-functions-to-static,
        readability-else-after-return,
        readability-function-cognitive-complexity,
        readability-identifier-length,
        readability-magic-numbers,
        readability-math-missing-parentheses,
        readability-uppercase-literal-suffix
    ]
    CheckOptions:
        readability-identifier-naming.ClassCase: CamelCase
        readability-identifier-naming.ClassMemberCase: camelBack
        readability-identifier-naming.ClassMemberPrefix: _
        readability-identifier-naming.PrivateClassMemberCase: camelBack
        readability-identifier-naming.PrivateClassMemberPrefix: _
        readability-identifier-naming.ProtectedClassMemberCase: camelBack
        readability-identifier-naming.ProtectedClassMemberPrefix: _
        readability-identifier-naming.PublicClassMemberCase: camelBack
        readability-identifier-naming.ConstantCase: camelBack
        readability-identifier-naming.EnumConstantCase: CamelCase
        readability-identifier-naming.LocalConstantCase: camelBack
        readability-identifier-naming.GlobalConstantCase: UPPER_CASE
        readability-identifier-naming.FunctionCase: camelBack
        readability-identifier-naming.ParameterCase: camelBack
        readability-identifier-naming.StaticVariableCase: camelBack
        readability-identifier-naming.StaticConstantCase: UPPER_CASE
        readability-identifier-naming.VariableCase: camelBack
