@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  /* override default color palette */
  --color-*: initial;
  /*****************/
  --color-transparent: transparent;
  /* [D] main text */
  /* [L] layer2 bg */
  --color-white: #fff;
  --color-black: #000;
  /* [L] main text */
  --color-baltic-sea: #1c1b1f;
  /* [D] base bg */
  --color-ash: #242b2d;
  /* [L] base bg */
  --color-faded-lavender: #ebeef4;
  /* [D] layer2 bg */
  --color-charcoal: #374042;
  /* [L] connection badge bg */
  --color-mercury: #e2e4ea;
  /* [D] connection badge bg */
  --color-mine-shaft: #2b3234;
  /* [D] gray1 */
  /* [L] gray2 */
  --color-bombay: #b0adb6;
  /* [D] gray2 */
  /* [L] gray1 */
  --color-iron: #606060;
  --color-malachite: #14e76f;
  --color-malachite-moss: #0b8a42;
  --color-aphrodisiac: #ed5060;
  --color-king-nacho: #ffc700;
  --color-cornflower: #9189ff;

  /* daemon dot (dev mode) */
  --color-vert-menthe: #2bc761;
  --color-rouge-ecarlate: #e02c4d;
  --color-liquid-lava: #f97316;

  --font-sans:
    LabGrotesque, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-icon: Material Symbols Outlined;
  --font-icon--font-variation-settings: 'opsz' 24;
}

@utility transition-noborder {
  transition-property:
    color, background-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@utility animate-pulse-fast {
  animation: pulse-fast 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@utility loader {
  border: 5px solid;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@utility tooltip {
  /* Tooltip
   *  usage:
   *  <div class="attach-tooltip">
   *    <span>Hover me</span>
   *    <div class="tooltip">Tooltip content</div>
   *  </div>
   */
  @apply invisible absolute p-2 px-3 rounded-sm shadow-md
        bg-white dark:bg-ash text-sm
        transition-opacity duration-200 opacity-0 ease-out;

  .attach-tooltip:hover & {
    @apply visible opacity-100 z-50;
  }
}

@utility attach-tooltip {
  &:hover .tooltip {
    @apply visible opacity-100 z-50;
  }
}

@layer base {
  .font-rendering {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  /* Regular */
  @font-face {
    font-family: 'LabGrotesque';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/LabGrotesque/LabGrotesque-Regular.woff2)
      format('woff2');
  }
  /* Italic */
  @font-face {
    font-family: 'LabGrotesque';
    font-style: italic;
    font-weight: 400;
    src: url(assets/fonts/LabGrotesque/LabGrotesque-Italic.woff2)
      format('woff2');
  }
  /* Medium */
  @font-face {
    font-family: 'LabGrotesque';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/LabGrotesque/LabGrotesque-Medium.woff2)
      format('woff2');
  }
  /* Bold */
  @font-face {
    font-family: 'LabGrotesque';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/LabGrotesque/LabGrotesque-Bold.woff2) format('woff2');
  }

  /* icon font */
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialSymbolsOutlined.woff2) format('woff2');
  }
}

@layer components {
  @keyframes pulse-fast {
    50% {
      opacity: 0.6;
    }
  }
  @keyframes rotation {
    to {
      transform: rotate(1turn);
    }
  }
}
