[Desktop Entry]
Name=NymVPN-x
Type=Application
Version=1.0
Comment=Decentralized, mixnet, and zero-knowledge VPN
Exec=/usr/bin/nym-vpn-app-wrapper.sh %U
Icon=/usr/share/icons/nym-vpn-app.svg
Terminal=false
Categories=Network;

