[package]
name = "nym-vpnc"
version = "0.1.11-dev"
description = "NymVPN commandline client"
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
bs58.workspace = true
clap = { workspace = true, features = ["derive"] }
parity-tokio-ipc.workspace = true
prost-types.workspace = true
prost.workspace = true
time = { workspace = true, features = ["formatting"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"]}
tonic.workspace = true
tower.workspace = true

nym-gateway-directory = { path = "../nym-gateway-directory" }
nym-vpn-proto = { path = "../nym-vpn-proto" }

[build-dependencies]
vergen = { workspace = true, default-features = false, features = [
    "build",
    "git",
    "gitcl",
    "rustc",
    "cargo",
] }

# Debian
[package.metadata.deb]
name = "nym-vpnc"
extended-description = '''NymVPN is a vpn service that uses the Nym mixnet.

This package contains the nym-vpnc binary, which is a CLI application used to interact with the nym-vpnd daemon.'''
recommends = "nym-vpnd"
maintainer-scripts = "debian"
systemd-units = { enable = false }
