@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Regular */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
  }
  /* Regular italic */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(assets/fonts/Lato/Lato-Italic.ttf) format('truetype');
  }
  /* Medium */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/Lato/Lato-Medium.ttf) format('truetype');
  }
  /* Semi-bold */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/Lato/Lato-Semibold.ttf) format('truetype');
  }
  /* Bold */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
  }

  /* icon font */
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/MaterialSymbolsOutlined.woff2) format('woff2');
  }
}

@layer components {
  .transition-noborder {
    transition-property: color, background-color, text-decoration-color, fill,
      stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  @keyframes pulse-fast {
    50% {
      opacity: 0.6;
    }
  }
  .animate-pulse-fast {
    animation: pulse-fast 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .loader {
    border: 6px solid;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    to {
      transform: rotate(1turn);
    }
  }
}
