name: build-nym-vpn-desktop-windows
on: [workflow_dispatch, workflow_call]

jobs:
  build-windows:
    runs-on: ubuntu-22.04-16-core
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            nym-vpn-desktop
            nym-vpn-lib
            crates
