name: ci-cargo-deny
on: [pull_request]
jobs:
  cargo-deny:
    # runs-on: ubuntu-22.04
    runs-on: arc-runner-set
    strategy:
      matrix:
        checks:
          # - advisories
          - licenses bans sources

    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        log-level: warn
        command: check ${{ matrix.checks }}
        argument: --all-features
        credentials: https://${{ secrets.MACHINE_USER_NAME }}:${{ secrets.MACHINE_USER_PAT }}@github.com
