name: ci-desktop-rust

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "nym-vpn-desktop/src-tauri/**"
      # also trigger the jobs on upstream dependencies changes
      - "wireguard/**"
      - "nym-vpn-lib/**"

jobs:
  build-wireguard-go:
    strategy:
      matrix:
        # os: [ubuntu-22.04, macos-latest]
        os: [custom-ubuntu-20.04, custom-runner-mac-m1]
    uses: ./.github/workflows/build-wireguard-go.yml
    with:
      os: ${{ matrix.os }}

  check:
    needs: build-wireguard-go
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-22.04, macos-latest]
        os: [custom-ubuntu-20.04, custom-runner-mac-m1]
    runs-on: ${{ matrix.os }}
    env:
      CARGO_TERM_COLOR: always
      WG_GO_LIB_PATH: ${{ github.workspace }}/lib

    steps:
      - name: 'Cleanup working directory'
        if: contains(matrix.os, 'custom')
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./

      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            nym-vpn-desktop
            nym-vpn-lib

      - name: Set env
        run: |
          if ${{ contains(matrix.os, 'ubuntu-22.04') }}; then
            platform_arch=ubuntu-22.04_x86_64
          elif ${{ contains(matrix.os, 'ubuntu-20.04') }}; then
            platform_arch=ubuntu-20.04_x86_64
          elif ${{ contains(matrix.os, 'mac-m1') }}; then
            platform_arch=macos_aarch64
          elif ${{ contains(matrix.os, 'macos') }}; then
            platform_arch=macos_x86_64
          else
            echo " ✗ unknown platform/arch [${{ matrix.os }}]"
            exit 1
          fi
          wg_go_lib_name="wireguard-go_$platform_arch"
          # debug
          echo " ✓ PLATFORM_ARCH: $platform_arch"
          echo " ✓ WG_GO_LIB_NAME: $wg_go_lib_name"
          echo " ✓ WG_GO_LIB_PATH: ${{ env.WG_GO_LIB_PATH }}"
          # set github env
          echo "PLATFORM_ARCH=$platform_arch" >> $GITHUB_ENV
          echo "WG_GO_LIB_NAME=$wg_go_lib_name" >> $GITHUB_ENV

      - name: Download wireguard-go artifacts (${{ env.PLATFORM_ARCH }})
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WG_GO_LIB_NAME }}
          path: ${{ env.WG_GO_LIB_PATH }}

      - name: Get version
        working-directory: nym-vpn-desktop/src-tauri
        run: |
          version=$(jq '.package.version' --raw-output tauri.conf.json)
          echo " ✓ App version: $version"
          echo "APP_VERSION=$version" >> $GITHUB_ENV

      - name: Install system dependencies
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update && sudo apt-get install -y libdbus-1-dev libmnl-dev libnftnl-dev \
            protobuf-compiler libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev \
            libgtk-3-dev squashfs-tools libayatana-appindicator3-dev

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        if: contains(matrix.os, 'macos') || contains(matrix.os, 'mac-m1')
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Fmt check
        working-directory: nym-vpn-desktop/src-tauri
        env:
          RUSTFLAGS: "-L ${{ env.WG_GO_LIB_PATH }}"
        run: cargo fmt --check

      - name: Clippy check
        working-directory: nym-vpn-desktop/src-tauri
        env:
          RUSTFLAGS: "-L ${{ env.WG_GO_LIB_PATH }}"
        run: cargo clippy -- -Dwarnings

