name: ci-nym-vpn-cli

on:
  # push:
  pull_request:
    paths:
      - "nym-vpn-cli/**"
      - "nym-vpn-lib/**"
      - "wireguard/**"
      - "Cargo.toml"
      - ".github/workflows/ci-nym-vpn-cli.yml"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-22.04, macos-latest, windows-latest]
        os: [windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev libmnl-dev libnftnl-dev protobuf-compiler
      if: matrix.os == 'ubuntu-22.04'

    - name: Install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt, clippy

    - name: Set LIBRARY_PATH
      run: |
        if [ "${{ matrix.os }}" = "ubuntu-22.04" ]; then
          echo "LIBRARY_PATH=${GITHUB_WORKSPACE}/build/lib/x86_64-unknown-linux-gnu" >> $GITHUB_ENV
        elif [ "${{ matrix.os }}" = "macos-latest" ]; then
          echo "LIBRARY_PATH=${GITHUB_WORKSPACE}/build/lib/x86_64-apple-darwin" >> $GITHUB_ENV
        elif [ "${{ matrix.os }}" = "windows-latest" ]; then
          echo "LIBRARY_PATH=${GITHUB_WORKSPACE}/build/lib/x86_64-pc-windows-msvc" >> $GITHUB_ENV
        fi

    - name: Install Protoc
      uses: arduino/setup-protoc@v2
      if: matrix.os == 'macos-latest' || matrix.os == 'windows-latest'
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check formatting
      run: cargo fmt --all -- --check

    - name: Build wireguard
      run: ./wireguard/build-wireguard-go.sh

    - name: Build
      run: RUSTFLAGS="-L ${LIBRARY_PATH}" cargo build --verbose

    - name: Run tests
      run: RUSTFLAGS="-L ${LIBRARY_PATH}" cargo test --verbose

    - name: Clippy
      run: RUSTFLAGS="-L ${LIBRARY_PATH}" cargo clippy -- -Dwarnings
