name: release-cli

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest]
    runs-on: ${{ matrix.os }}

    env:
      LIBRARY_PATH: ${{ github.workspace }}/build/lib/x86_64-unknown-linux-gnu

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev libmnl-dev libnftnl-dev protobuf-compiler

    - name: Install rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt, clippy

    - name: Build wireguard
      run: ./wireguard/build-wireguard-go.sh

    - name: Build
      run: RUSTFLAGS="-L ${LIBRARY_PATH}" cargo build --release --verbose

    - name: Run tests
      run: RUSTFLAGS="-L ${LIBRARY_PATH}" cargo test --release --verbose

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: nym-vpn-cli
        path: target/release/nym-vpn-cli
