name: release-nym-vpn-desktop
on:
  schedule:
    - cron: '4 4 * * *'
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for release'
        required: false
        default: nightly-desktop
      publish:
        type: boolean
        description: Publish Release
        required: true
        default: false
  push:
    tags:
      - nym-vpn-desktop-v[0-9]+.[0-9]+.[0-9]+*

env:
  CARGO_TERM_COLOR: always

jobs:
  build-wireguard-go:
    strategy:
      matrix:
        os:
          [
            ubuntu-22.04-16-core,
            macos-latest,
            custom-runner-mac-m1,
          ]
    uses: ./.github/workflows/build-wireguard-go.yml
    with:
      os: ${{ matrix.os }}

  build:
    needs: build-wireguard-go
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-22.04-16-core,
            macos-latest,
            custom-runner-mac-m1,
          ]
    runs-on: ${{ matrix.os }}
    env:
      WG_GO_LIB_PATH: ${{ github.workspace }}/lib

    steps:
      - name: "Cleanup working directory"
        if: contains(matrix.os, 'custom')
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./

      - name: Reconfigure git
        run: |
          git config --global --replace-all "url.https://${{ secrets.MACHINE_USER_NAME }}:${{ secrets.MACHINE_USER_PAT }}@github.com.insteadOf" ssh://git@github.com

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            nym-vpn-desktop
            nym-vpn-lib

      - name: Install system dependencies
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update && sudo apt-get install -y libdbus-1-dev libmnl-dev libnftnl-dev \
            protobuf-compiler libwebkit2gtk-4.0-dev build-essential curl wget libssl-dev \
            libgtk-3-dev squashfs-tools libayatana-appindicator3-dev

      - name: Get package version
        id: package-version
        uses: nicolaiunrein/cargo-get@master
        with:
          subcommand: package.version --entry nym-vpn-desktop/src-tauri

      - name: Check tag name consistency
        if: github.event_name == 'push'
        run: |
          if [[ nym-vpn-desktop-v${{ steps.package-version.outputs.metadata }} != ${{ github.ref_name }} ]]; then
            exit 1
          fi

      - name: Check name consistency
        if: inputs.tag_name == 'nightly'
        run: exit 1

      - name: Set env
        run: |
          if ${{ contains(matrix.os, 'ubuntu-22.04') }}; then
            platform_arch=ubuntu-22.04_x86_64
          elif ${{ contains(matrix.os, 'ubuntu-20.04') }}; then
            platform_arch=ubuntu-20.04_x86_64
          elif ${{ contains(matrix.os, 'mac-m1') }}; then
            platform_arch=macos_aarch64
          elif ${{ contains(matrix.os, 'macos') }}; then
            platform_arch=macos_x86_64
          else
            echo " ✗ unknown platform/arch [${{ matrix.os }}]"
            exit 1
          fi
          wg_go_lib_name="wireguard-go_$platform_arch"
          artifact_dir="nym-vpn-desktop_${{ steps.package-version.outputs.metadata }}_$platform_arch"
          artifact_archive="$artifact_dir.tar.gz"
          artifact_checksum="$artifact_archive.sha256sum"
          # debug
          echo " ✓ PLATFORM_ARCH: $platform_arch"
          echo " ✓ WG_GO_LIB_NAME: $wg_go_lib_name"
          echo " ✓ WG_GO_LIB_PATH: ${{ env.WG_GO_LIB_PATH }}"
          echo " ✓ ARTIFACT_DIR: $artifact_dir"
          echo " ✓ ARTIFACT_ARCHIVE: $artifact_archive"
          # set github env
          echo "PLATFORM_ARCH=$platform_arch" >> $GITHUB_ENV
          echo "WG_GO_LIB_NAME=$wg_go_lib_name" >> $GITHUB_ENV
          echo "ARTIFACT_DIR=$artifact_dir" >> $GITHUB_ENV
          echo "ARTIFACT_ARCHIVE=$artifact_archive" >> $GITHUB_ENV
          echo "ARTIFACT_CHECKSUM=$artifact_checksum" >> $GITHUB_ENV

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Download wireguard-go artifacts (${{ env.PLATFORM_ARCH }})
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.WG_GO_LIB_NAME }}
          path: ${{ env.WG_GO_LIB_PATH }}

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        if: contains(matrix.os, 'macos') || contains(matrix.os, 'mac-m1')
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare desktop build
        run: mkdir nym-vpn-desktop/dist

      - name: Install node dependencies
        working-directory: nym-vpn-desktop
        run: npm i

      - name: Build desktop client
        working-directory: nym-vpn-desktop/src-tauri
        env:
          RUSTFLAGS: "-L ${{ env.WG_GO_LIB_PATH }}"
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        shell: bash
        run: |
          npm run tauri build
          ls -la target/release/
          ls -la target/release/bundle
          ls -la target/release/bundle/*

      - name: Create archive
        shell: bash
        run: |
          mkdir ${{ env.ARTIFACT_DIR }}
          cp -vpr nym-vpn-desktop/src-tauri/target/release/bundle/appimage/nym-vpn*.AppImage ${{ env.ARTIFACT_DIR }} || true
          cp -vpr nym-vpn-desktop/src-tauri/target/release/bundle/deb/nym-vpn*.deb ${{ env.ARTIFACT_DIR }} || true
          cp -vpr nym-vpn-desktop/src-tauri/target/release/bundle/dmg/nym-vpn*.dmg ${{ env.ARTIFACT_DIR }} || true
          tar -cvzf ${{ env.ARTIFACT_ARCHIVE }} ${{ env.ARTIFACT_DIR }}

      - name: Upload artifacts (${{ env.PLATFORM_ARCH }})
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_ARCHIVE }}
          path: ${{ env.ARTIFACT_ARCHIVE }}
          retention-days: 2

      # Build info, but for now it's just the version
      - name: Generate build info (${{ env.PLATFORM_ARCH }})
        if: contains(matrix.os, 'ubuntu-22.04')
        run: |
          echo ${{ steps.package-version.outputs.metadata }} > build-info.txt
          cat build-info.txt

      - name: Upload build-info (${{ env.PLATFORM_ARCH }})
        if: contains(matrix.os, 'ubuntu-22.04')
        uses: actions/upload-artifact@v4
        with:
          name: build-info
          path: build-info.txt
          retention-days: 2

  publish:
    # We need this workaround to make the publish step run even if one of the
    # builds fail. We can't use always() since that creates an uncancellable
    # job
    #if: github.event_name != 'workflow_dispatch' || inputs.publish == true
    #if: always() && (github.event_name != 'workflow_dispatch' || inputs.publish == true)
    if: ${{ !cancelled() && (success() || failure() || needs.build.result == 'skipped') && (github.event_name != 'workflow_dispatch' || inputs.publish == true) }}
    needs: build
    runs-on: ubuntu-latest
    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4

      # Setup TAG_NAME, which is used as a general "name"
      - if: github.event_name == 'workflow_dispatch'
        run: echo "TAG_NAME=${{ github.event.inputs.tag_name }}" >> $GITHUB_ENV
      - if: github.event_name == 'schedule'
        run: echo 'TAG_NAME=nightly-desktop' >> $GITHUB_ENV
      - if: github.event_name == 'push'
        run: echo "TAG_NAME=${{ github.ref_name }}" >> $GITHUB_ENV

      # We don't bother publishing if not the build info is available
      - name: Check if build-info present
        run: test -f build-info/build-info.txt

      - name: Build info
        run: |
          echo "BUILD_VERSION=$(cat build-info/build-info.txt)" >> $GITHUB_ENV
          echo "BUILD_INFO=$(cat build-info/build-info.txt)" >> $GITHUB_ENV

      - if: env.TAG_NAME == 'nightly-desktop'
        run: |
          (echo "SUBJECT=nym-vpn-desktop-v$BUILD_VERSION nightly prerelease build";
           echo 'PRERELEASE=--prerelease';
           echo 'NOTES_FILE=release-notes-desktop-nightly.md') >> $GITHUB_ENV
          gh release delete nightly-desktop --yes || true
          git push origin :nightly-desktop || true
      # Once we consider these actually release builds, remove --prerelease
      # from PRERELEASE here
      - if: env.TAG_NAME != 'nightly-desktop'
        run: |
          (echo "SUBJECT=$TAG_NAME"
           echo 'PRERELEASE=--prerelease'
           ehco 'NOTES_FILE=release-notes-desktop.md') >> $GITHUB_ENV

      # Recall that download-artifact will extract into a directory that
      # includes the tar.gz suffix.
      # We rm all the empty directories first so since that signifies a failed
      # build where we continue-on-error and should not have their artifacts
      # published, which would just be an empty archive.
      - name: Generate checksums
        run: |
          rmdir nym-vpn-desktop_*tar.gz || true
          for file in nym-vpn-desktop_*tar.gz; do pushd $file; for f in nym-vpn-desktop_*; do sha256sum ${f} > "${f}.sha256sum"; done; popd; done
          echo 'SHA256_CHECKSUMS<<EOF' >> $GITHUB_ENV
          cat nym-vpn-desktop_*.tar.gz/*.sha256sum >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Publish release
        run: |
          echo "build info"
          echo "$BUILD_INFO"
          echo "checksums"
          echo "$SHA256_CHECKSUMS"
          echo "Creating release notes"
          envsubst < "$GITHUB_WORKSPACE/.github/workflows/$NOTES_FILE" > "$RUNNER_TEMP/release-notes.md"
          echo "Creating release nodes: output"
          cat $RUNNER_TEMP/release-notes.md
          echo "Creating release"
          echo gh release create $TAG_NAME $PRERELEASE --notes-file "$RUNNER_TEMP/release-notes.md" --title "$SUBJECT" --target $GITHUB_SHA nym-vpn-desktop_*.tar.gz/*
          gh release create $TAG_NAME $PRERELEASE --notes-file "$RUNNER_TEMP/release-notes.md" --title "$SUBJECT" --target $GITHUB_SHA nym-vpn-desktop_*.tar.gz/*
