node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.playwright/
playwright-report/
chromium/
firefox/
webkit/
../results/
*.json
*.log
.tmp/
temp/
tmp/
.DS_Store
.DS_Store?
.env
.env.local
coverage/
